name = "japan-quick"
main = "src/index.ts"
compatibility_date = "2024-12-01"

[assets]
directory = "public"

[browser]
binding = "BROWSER"

[[kv_namespaces]]
binding = "NEWS_CACHE"
id = "d0ff786e95f146e9a0686c3c35654bbb"

[[d1_databases]]
binding = "DB"
database_name = "japan-quick-db"
database_id = "f1417a4f-09de-4ae4-94fe-653ed953c0a6"

[vars]
ADMIN_USERNAME = "admin"
ADMIN_PASSWORD = "GvkP525fTX0ocMTw8XtAqM9ECvNIx50v"
